# Dependencias (lo más pesado)
node_modules/

# Archivos de construcción (donde se genera la web final)
dist/
build/

# Cache de Astro y herramientas de VS Code
.astro/
.vercel/
.vscode/
.env

# Archivos de sistema
.DS_Store
thumbs.db

# Componentes de prueba o copias que no quiero subir
src/components/copia-quienesomosmos.astro
src/components/copia2.astro
src/components/exc.astro