<footer class="bg-slate-900 py-12 px-6 text-center border-t border-white/5">
    <p class="text-slate-500 text-sm">© 2026 Aldineho Traslados - Jujuy - Salta, Argentina.</p>
    <p class="text-slate-400 text-xs mt-2">Diseñado por Alancay Software & Web </p>
  </footer>